.custom-header {
      height: 4.5rem;
      background-color: lightsalmon;
      font-size: 2.5rem;
      font-family: 'Playfair Display', serif;
      font-weight: 800;
}

.custom-sidebar {
      height: 100%;
      width: 20vw;
      background-color: darksalmon;
      padding-top: 2rem;
      padding-right: 1rem;
      overflow-y: scroll;
      /* transition: 0.4s width; */
      transition: 0.4s width;
}

.custom-sidebar::-webkit-scrollbar {
      width: 0.5rem;
}

.custom-sidebar::-webkit-scrollbar-track {
      padding-right: 10px;
}

.custom-sidebar::-webkit-scrollbar-thumb {
      background-color: #212529;
      outline: blanchedalmond;
      border-radius: 1rem;

}

.quest-panel {
      width: 80vw;
      background-color: blanchedalmond;
      overflow-y: scroll;
}

.quest-panel::-webkit-scrollbar {
      width: 0.5rem;
}

.quest-panel::-webkit-scrollbar-thumb {
      background-color: lightsalmon;
      outline: none;
      border-radius: 1rem;

}

/* .quest-panel::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */


.quest-link {
      margin-left: 2rem;
      font-size: 1.3rem;
      font-weight: bold;
      color: inherit;
      text-decoration: none;
}

.subquest-link {
      margin-left: 2.5rem;
      /* font-size: 1.3rem; */
      font-weight: bold;
      color: inherit;
      text-decoration: none;
}

.subquest-link:hover {
      color: firebrick;
      cursor: pointer;
}

.falha-color {
      color: firebrick;
      text-decoration: none;
}

.sucesso-color {
      color: forestgreen;
      text-decoration: none;
}

/* MOBILE STYLES */

@media screen and (max-width: 425px) {
      .custom-sidebar {
            position: absolute;
            padding-right: 0;
            /* border: none !important; */
            width: calc(100vw - 5px);
            height: calc(100vh - 4.5rem - 10px);

      }

      .custom-sidebar.sidebar-hidden {
            /* display: none !important; */
            width: 0;
            /* padding: 0; */

            border: none !important;
      }

      /* .quest-container.sidebar-hidden {
            overflow: hidden;
            display: none !important;
      } */

      .quest-container {
            /* overflow: hidden; */
            white-space: nowrap;
      }

      .quest-panel {
            width: 100vw;
            border: none;
      }

      .float-menu {
            z-index: 100;
            width: 3rem;
            height: 3rem;
            overflow-x: hidden;
            border-bottom-right-radius: 50%;
            position: absolute;
            top: 4.8rem;
            right: calc(100vw - 3rem - 5px);
            background-color: lightsalmon;
            border-right: 5px solid;
            border-bottom: 5px solid;
            display: flex;
            flex-direction: column;
            /* align-items: center; */
            padding-left: 0.5rem;
            padding-top: 0.6rem;
            transition: 0.4s;
      }

      .float-menu.sidebar-hidden {
            right: 5px;
            border-right: none;
            border-left: 5px solid;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 50%;
      }

      .dash {
            border-top: 4px solid;
            width: 1.5rem;
            padding-top: 0.3rem;
      }

      .dash-top {
            transform: rotate(135deg);
            position: relative;
            top: 5px;
            left: -3px;
            width: 1.7rem;
      }

      .dash-hidden {
            display: none;
      }

      .dash-bot {
            transform: rotate(45deg);
            position: relative;
            top: 0px;
            left: -3px;
            width: 1.7rem;
      }
}