.custom-header {
      height: 4.5rem;
      background-color: lightsalmon;
      font-size: 2.5rem;
      font-family: 'Playfair Display', serif;
      font-weight: 800;
}

.custom-sidebar {
      height: 100%;
      width: 20vw;
      background-color: darksalmon;
      padding-top: 2rem;
      padding-right: 1rem;
      /* transition: 0.4s width; */
      transition: 0.4s width;
}

.quest-panel {
      width: 80vw;
      background-color: blanchedalmond;
      overflow-y: scroll;
}

.quest-panel::-webkit-scrollbar {
      width: 0.5rem;
}
     
.quest-panel::-webkit-scrollbar-track {
      /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

.quest-panel::-webkit-scrollbar-thumb {
      background-color: lightsalmon;
      outline: none;
      border-radius: 1rem;

}

.quest-link {
      margin-left: 2rem;
      font-size: 1.3rem;
      font-weight: bold;
      color: inherit;
      text-decoration: none;
}

.subquest-link {
      margin-left: 2.5rem;
      /* font-size: 1.3rem; */
      font-weight: bold;
      color: inherit;
      text-decoration: none;
}

.subquest-link:hover {
      color: firebrick;
      cursor: pointer;
}

.falha-color {
      color: firebrick;
      text-decoration: none;
}

.sucesso-color {
      color: forestgreen;
      text-decoration: none;
}

/* MOBILE STYLES */

@media screen and (max-width: 425px) {
      .custom-sidebar.sidebar-hidden {
            /* display: none !important; */
            width: 0;
            /* padding: 0; */

            /* border: none !important; */
      }

      .quest-container {
            display: none !important;
      }

      .quest-panel {
            width: 100vw;
            border: none;
      }

      .float-menu {
            width: 3rem;
            height: 3rem;
            border-bottom-right-radius: 50%;
            position: absolute;
            top: 4.8rem;
            background-color: lightsalmon;
            border-right: 5px solid;
            border-bottom: 5px solid;
            display: flex;
            flex-direction: column;
            /* align-items: center; */
            padding-left: 0.5rem;
            padding-top: 0.6rem;
      }

      .dash {
            border-top: 4px solid;
            width: 1.5rem;
            padding-top: 0.3rem;
      }
}